
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color: #512DA8;
}

.jumbotron{
	background-color: #9575CD;
	padding: 70px 30px 70px 30px;
	margin:0px auto;
	color:floralwhite;
}

.footer{
	background-color: #D1C4E9;
	padding-top: 0px auto;
	padding: 20px 0px 20px 0px;
	color: #000;
}

.row-header{
	margin: 0px auto;
	padding: 0px auto;
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.address{
	font-size: 80%;
	margin: 0px;
	color:#0f0f0f;
}



